/*---------------------------------------------------------------------------------------------
    Container
---------------------------------------------------------------------------------------------*/

#poststuff .cfs_input .inside {
    margin: 0;
    padding: 0;
}

.cfs_input .field {
    padding: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dfdfdf;
}

.cfs_input .field:last-child {
    border-bottom: none;
}

.cfs_input .field input[type="text"],
.cfs_input .field textarea,
.cfs_input .field select {
    width: 99.8%;
}

.cfs_input .field label {
    font-weight: bold;
    padding: 0 0 10px 0;
    cursor: default;
    display: block;
}

.cfs_input .field p.notes {
    margin: 0 0 6px 0;
    font-size: 11px;
    color: #999;
}

.cfs_input.no_box {
    background: none;
    border: none;
}

.cfs_input.no_box .hndle,
.cfs_input.no_box .handlediv {
    display: none;
}

.cfs_input.no_box .field {
    padding: 10px 0;
    border: none;
}

.cfs_input .error {
    padding: 5px;
    margin: 5px 0;
    background: #ffebe8;
    border: 1px solid #c00;
}

.hidden {
    display: none;
}

/*---------------------------------------------------------------------------------------------
    Select
---------------------------------------------------------------------------------------------*/

.cfs_select select.multiple {
    height: 100px !important;
}

/*---------------------------------------------------------------------------------------------
    True / false
---------------------------------------------------------------------------------------------*/

.cfs_true_false .checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
    background: url(../images/checkbox-off.png) no-repeat;
    vertical-align: bottom;
    margin-right: 3px;
}

.cfs_true_false .checkbox.active {
    background: url(../images/checkbox-on.png) no-repeat;
}

/*---------------------------------------------------------------------------------------------
    Date
---------------------------------------------------------------------------------------------*/

.cfs_input .cfs_date input.date {
    width: 160px;
    background: #fff url(../images/icon-calendar.png) 98% 2px no-repeat;
}

/*---------------------------------------------------------------------------------------------
    Date
---------------------------------------------------------------------------------------------*/

.cfs_input .cfs_color input.color {
    width: 100px;
}

/*---------------------------------------------------------------------------------------------
    Wysiwyg
---------------------------------------------------------------------------------------------*/

.cfs_wysiwyg table.mceLayout {
    background: #fff;
}

.cfs_wysiwyg textarea {
    height: 200px;
}

.cfs_wysiwyg .wp-media-buttons {
    padding: 5px 0;
}

/*---------------------------------------------------------------------------------------------
    File
---------------------------------------------------------------------------------------------*/

.cfs_file .file_url img {
    padding: 5px;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2NkYGCQBGJ08BxdgHGIKMTiF0wPgjwz2BUCADTeBYguWvyCAAAAAElFTkSuQmCC);
    vertical-align: bottom;
    box-shadow: 0 1px 2px #ddd;
    max-width: 50%;
    height: auto;
}

.cfs_file .media.button.hidden {
    display: none;
}

/*---------------------------------------------------------------------------------------------
    Relationship, User
---------------------------------------------------------------------------------------------*/

.cfs_relationship .post_list,
.cfs_user .post_list {
    float: left;
    width: 50%;
    background: #fff;
    height: 125px;
    overflow-y: scroll;
}

.cfs_relationship .post_list div,
.cfs_user .post_list div {
    padding: 4px 6px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.cfs_relationship .post_list div:last-child,
.cfs_user .post_list div:last-child {
    border-bottom: none;
}

.cfs_relationship .post_list div:hover,
.cfs_user .post_list div:hover {
    background: #eee;
}

.cfs_relationship .available_posts div.used,
.cfs_user .available_posts div.used{
    display: none;
}

.cfs_relationship .selected_posts div,
.cfs_user .selected_posts div {
    cursor: move;
}

.cfs_relationship .selected_posts div span.remove,
.cfs_user .selected_posts div span.remove {
    float: right;
    width: 16px;
    height: 16px;
    background: url(../images/button_remove.png) no-repeat;
    cursor: pointer;
}

.cfs_relationship .filter_posts,
.cfs_user .filter_posts {
    margin-bottom: 5px;
}

.cfs_input .field .cfs_relationship .cfs_filter_input,
.cfs_input .field .cfs_user .cfs_filter_input{
    width: 220px;
}

.cfs_relationship .cfs_filter_help,
.cfs_user .cfs_filter_help {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    background: url(../images/icon-help.png) no-repeat;
    vertical-align: top;
}

/*---------------------------------------------------------------------------------------------
    Loop
---------------------------------------------------------------------------------------------*/

.cfs_delete_field {
    float: right;
    width: 16px;
    height: 16px;
    background: url(../images/button_remove.png) no-repeat;
}

.cfs_toggle_field {
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: url(../images/button_minimize.png) 0px 8px no-repeat;
}

.cfs_input .cfs_loop label {
    padding: 6px 0 0 0;
}

.cfs_input .cfs_loop .field {
    border: none;
    padding: 6px 0;
}

.cfs_input .cfs_loop_toggle {
    float: right;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
    margin-right: 6px;
    background: url(../images/icon-toggle.png) no-repeat;
}

.cfs_loop .loop_wrapper {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    margin-bottom: 10px;
}

.cfs_loop .cfs_loop_head {
    background-color: #F1F1F1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
    cursor: pointer;
    padding: 5px;
}

.cfs_loop .notes {
    font-size: 11px;
    font-style: italic;
    color: #999;
}

.cfs_loop .cfs_loop_body {
    padding: 10px;
    background: #f8f8f8;
    display: none;
}

.cfs_loop .cfs_loop_body.open {
    display: block;
}
